@model SlidesShow.Models.EditSlide

<h4>CompanySlide</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="PropertyId" />
            <label>Present Image</label>
            <img src="@Url.Content("~/Images/"+(Model.ImagePath))" alt="Image" width="85" height="55" />
            <br />

            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BackgroundColor" class="control-label"></label>
                <input asp-for="BackgroundColor" class="form-control" />
                <span asp-validation-for="BackgroundColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Footer" class="control-label"></label>
                <input asp-for="Footer" class="form-control" />
                <span asp-validation-for="Footer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" onclick="return confirm('Are you sure you want to Edit this item?');" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
