@model Addnew

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<h2 class="text-center">SlideShow Application</h2>
<br />


<div class="text-center">
    <br/>
    <h1 class="display-4">Welcome</h1>
    <br/>
    <br/>
    <form asp-action="Selected" method="post">


        <input type="hidden" value="3" name="Club" />
        <input type="hidden" value="1" name="Company" />

        <input type="submit" class="btn-primary text-center" value="CLick Here to add Slides" />

    </form>
</div>


<br />
